<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
       <link rel="icon" href="/logo/scribbly.png" type="image/png">
    
</head>
<body>
<div th:replace="~{layouts/header}"></div>

<!-- blog content -->
<main class="container">

<div sec:authorize="isAuthenticated()">
    <!-- 로그인된 사용자에게만 보임 -->
    <p th:text="'안녕하세요, ' + ${user.username} + '님!'"></p>
    <p th:text="'블로그 제목: ' + ${user.blog_title}"></p>
    <form th:action="@{/scribbly/logout}" method="post">
	    <button type="submit">로그아웃</button>
	</form>
</div>

<div sec:authorize="isAnonymous()">
    <!-- 비로그인(익명 사용자)에게만 보임 -->
    <a th:href="@{/scribbly/login}">로그인</a>
</div>

메뉴
목록
컨텐츠
이웃
</main>

<div th:replace="~{layouts/footer}"></div>
</body>
</html>