<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
   <link rel="icon" href="/logo/scribbly.png" type="image/png">
<meta charset="UTF-8">
<title>Scribbly</title>
</head>
<body>
<div th:replace="~{layouts/header}"></div>
스크러블리 메인 화면

이웃 블로그 최신 글

<div sec:authorize="isAuthenticated()">
	<!-- 로그인된 사용자에게만 보임 -->
	<a th:href="@{/scribbly/blog}">내 블로그</a>
	<a th:href="@{/scribbly/logout}">로그아웃</a>
</div>
<div sec:authorize="isAnonymous()">
    <!-- 비로그인(익명 사용자)에게만 보임 -->
	<a th:href="@{/scribbly/signup}">회원가입</a>
	<a th:href="@{/scribbly/login}">로그인</a>
</div>
<!-- 관리자만 보이게 하기 -->
<div sec:authorize="hasRole('ADMIN')">
    <a href="/admin/dashboard">관리자 메뉴</a>
</div>

</body>
</html>